.about-project-sec{
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 5rem;
   margin-bottom: 10rem;
}

.about-project-text{
   flex: 1;
   display: flex;
   flex-direction: column;
}

.about-text-proj-one{
   font-size: 1.5rem;
   color: #323232;
   font-weight: 500;
}

.pac-a-pusu{
   font-size: 3rem;
   font-family: 'OhWhale', sans-serif;
   color: #2F184B;
   text-align: right;
}

.about-project-image{
   min-height: 50vh;
   flex: 1;
   display: flex;
   align-items: flex-start;
   justify-content: center;
}

.about-project-two-parts{
   display: flex;
   flex-direction: row;
   column-gap: 5rem;
}

.profile-card-wrapper {
   display: flex;
   flex-direction: row;
   column-gap: 5rem;
   row-gap: 5rem;
   perspective: 1000px;
}

.flip-profile-card {
   width: 240px;
   height: 240px;
   position: relative;
   transform-style: preserve-3d;
   transition: transform 0.6s;
   border-radius: 50%;
   overflow: hidden;
}

.flip-profile-card-reversed {
   width: 240px;
   height: 240px;
   position: relative;
   transform-style: preserve-3d;
   transition: transform 0.6s;
   border-radius: 50%;
   overflow: hidden;
   cursor: pointer;
}

.flip-profile-inner {
   width: 100%;
   height: 100%;
   position: absolute;
   transform-style: preserve-3d;
   transition: transform 0.6s;
   border-radius: 50%;
}

.flip-profile-card:hover .flip-profile-inner {
   transform: rotateY(180deg);
}

.flip-profile-card-reversed:hover .flip-profile-inner {
   transform: rotateY(-180deg);
}

.flip-profile-card::after {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   transform: translate(-50%, -50%) scale(1);
   transition: transform 0.6s, border-color 0.6s;
   border: 3px solid transparent;
}

.flip-profile-card:hover::after {
   animation: expand-contract-circle 1s forwards;
   border-color:#C8B1E4;
}

@keyframes expand-contract-circle {
   0% {
       transform: translate(-50%, -50%) scale(0.5);
       opacity: 0;
   }
   50% {
       transform: translate(-50%, -50%) scale(1.1);
       border-color: #2F184B;
   }
   100% {
       transform: translate(-50%, -50%) scale(0.95);
       opacity: 1;
   }
}

.flip-card-front, .flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transform-style: preserve-3d;
}

.flip-card-front{
   transform: translateZ(40px);
}

.flip-card-front svg{
   width: 200px;
   height: 200px;
}


.flip-card-back {
   transform: rotateY(180deg) translateZ(0);
   background-color: #532B88;
   color: #F4EFFA;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border: 5px solid #323232;
}

.flip-card-back h3 {
   font-size: 1.25rem;
   transform: translateZ(30px); /* Posunutí nadpisu na ose Z */
}

.bro {
   font-weight: 700;
   font-size: 1rem;
   transform: translateZ(30px); /* Posunutí textu na ose Z */
}

.job {
   margin: 10px 0;
   font-weight: 400;
   transform: translateZ(20px); /* Posunutí textu na ose Z */
   color: #C8B1E4;
}




@media screen and (max-width: 1200px) {

   .about-project-two-parts{
      display: flex;
      flex-direction: column;
   }

   .about-project-image{
      min-height: 0vh;
      margin-top: 10%;
   }
}


 
@media screen and (max-width: 600px) {
   .profile-card-wrapper{
      flex-direction: column;
   }

   
   .about-text-proj-one{
      font-size: 1rem;
      color: #323232;
      font-weight: 500;
   }

   .pac-a-pusu{
      font-size: 2rem;
      font-family: 'OhWhale', sans-serif;
      color: #2F184B;
   }
}