
.langing-page-wrapper{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
   justify-content: space-evenly;
}

.landing-text-and-pic{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 100%;
}


.landing-text-wrapper-w-btns{
   width: 60%;
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 5rem;
   column-gap: 2rem;
}


.landing-text-main h1,
.landing-text-main h2{
   font-family: 'OhWhale', sans-serif;
}

.landing-text-main h1{
   font-size: 10rem;
   color: #2F184B;
}

.landing-text-main h2{
   font-size: 3rem;
   color: #323232;
}

.landing-buttons{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   column-gap: 2rem;
}


.one-batn{
   padding: 30px;
}

.landing-btn{
   padding: 10px;
   font-size: 1.25rem;
   border-radius: 25px;
   outline: none;
   border: 3px solid #323232;
   z-index: 5;
   width: 175px;
   font-weight: 600;
}

.landing-btn.one-land-btn{
   background: #532B88;
   color: #F4EFFA;
   transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.landing-btn.two-land-btn{
   background:  #9B72CF;
   color: #F4EFFA;
   transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.landing-btn a{
   text-decoration: none;
   color: #F4EFFA;
}

.landing-btn:hover{
   background: #F4EFFA;
}

.landing-btn:hover a{
   color: #2F184B;
}

.stickman-w-eyes{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40%;
   height: 100%;
}

#kuba{
   width: 100%;
   height: auto;
}

#stickman-head-mobile{
   display: none;
}

.eyes{
   position: absolute;
   column-gap: 15px;
   top: 12.5%;
   left: 12.5%;
   display: flex;
   z-index: 10;
}

.eyes .eye{
   position: relative;
   width: 60px;
   height: 60px;
   display: block;
   background: #fff;
   margin: 0 17.5px;
   border-radius: 50%;
   border: 5px solid black;
}

.eyes .eye::before{
   content: '';
   position: absolute;
   top: 30%;
   left: 30%;
   transform: translate(-50%,-50%);
   width: 10px;
   height: 10px;
   background: black;
   border-radius: 50%;
}




.chevron-only{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.chevron-only svg{
   color: #fff;
   animation: chevron-ping 2s linear infinite;
   width: 50px;
   height: auto;
}



@keyframes chevron-ping {
   0%{
      transform: translateY(0px);
   }
   50%{
      transform: translateY(10px);
   }
   100%{
      transform: translateY(0px);
   }
}






























@media only screen and (max-width: 1600px){
   .landing-text-main h1{
      font-size: 8rem;
      color: #2F184B;
   }
   
   .landing-text-main h2{
      font-size: 2rem;
      color: #323232;
   }

   .eyes{
      display: none;
   }

   #stickman-head{
      display: none;
   }

   #stickman-head-mobile{
      display: block;
   }
   
}

@media only screen and (max-width: 1300px){
   .landing-text-main h1{
      font-size: 7rem;
      color: #2F184B;
   }
   
   .landing-text-main h2{
      font-size: 2rem;
      color: #323232;
   }
}

@media only screen and (max-width: 1150px){
   .landing-text-main h1{
      font-size: 6rem;
      color: #2F184B;
   }
   
   .landing-text-main h2{
      font-size: 2rem;
      color: #323232;
   }
}



@media only screen and (max-width: 1000px){
   .landing-text-main h1{
      font-size: 5rem;
      color: #2F184B;
   }
   
   .landing-text-main h2{
      font-size: 1.5rem;
      color: #323232;
   }
   
   .landing-buttons{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      column-gap: 2rem;
   }

   .one-batn{
      padding: 0px;
      transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
   }

   .landing-text-and-pic{
      flex-direction: column-reverse;
      height: 70vh;
      row-gap: 2rem;
      margin-top: 70px;
   }

   .landing-text-wrapper-w-btns{
      width: 80%;
   } 

   
   .stickman-w-eyes{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      height: auto;
   }

}

@media only screen and (max-width: 800px){
   .stickman-w-eyes{
      width: 60%;
   }
}

@media only screen and (max-width: 600px){
   .landing-text-main h1{
      font-size: 4rem;
      color: #2F184B;
   }
   
   .landing-text-main h2{
      font-size: 1.5rem;
      color: #323232;
   }

   .landing-btn{
      height: 60px;
      width: 130px;
      font-size: 1rem;
      padding: 5px;
      border-radius: 30px;
   }

   .landing-btn.two-land-btn:hover{
      transform: translateY(0px);
      font-size: 1rem;
      font-weight: 500;
   }

   .landing-btn.one-land-btn:hover{
      transform: translateY(0px);
      font-size: 1rem;
      font-weight: 500;
   }

}


@media only screen and (max-width: 500px){
   .landing-text-main h1{
      font-size: 3rem;
      color: #2F184B;
   }
   
   .landing-text-main h2{
      font-size: 1rem;
      color: #323232;
   }

   .stickman-w-eyes{
      width: 80%;
   }
}


