.center {
   text-align: center;
 }

 .highlight {
  background: #2F184B !important;
  color: #F4EFFA;
  transform: scale(1.05);
}

 .table-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: auto;
   overflow-x: auto;
   border: 5px solid #323232;
   background: linear-gradient(45deg,#C8B1E4, #9B72CF);
   border-radius: 50px;
   padding: 30px;
 }
 
 .table {
   display: grid;
   grid-template-columns: repeat(18, 1fr);
   gap: 5px;
 }
 
 .hidden {
   display: none;
 }
 
 .element-details-wrapper{
   margin-top: 2rem;
   width: 100%;
   min-height: 800px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 10rem;
 }

 .search-bar-per-tbl{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  background: linear-gradient(45deg,#532B88, #9B72CF);
  border-radius: 25px;
  border: 5px solid #323232;
  padding: 15px;
  width: 800px;
  color: #F4EFFA;
  font-weight: 500;
  column-gap: 2rem;
  row-gap: 2rem;
 }
 
 .one-part-filt-ss{
  display: flex;
  flex-direction: column;
  min-height: 300px;
  min-width: 300px;
  justify-content: space-between;
 }
 .two-part-filt-ss{
  min-height: 300px;
  display: flex;
  min-width: 300px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 }


.napoveda-wrap{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  column-gap: 2rem;
  width: 100%;
}

.napoveda-txt h3{
  font-size: 1.5rem;
  color: #2F184B;
}

.napovedy-all{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #2F184B;
  font-weight: 500;
}

#temperatureRange{
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 25px;
  border: 3px solid #323232;
  background: #F4EFFA;
  border-radius: 25px;
  outline: none;
}

#temperatureRange::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border: 0;
  background-image: url('../images/headka.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

#temperatureRange::-moz-range-thumb {
  width: 23px;
  height: 25px;
  border: 0;
  background: url('../images/headka.png');
  cursor: pointer;
}


.degrees-elemnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
}


 #search-input{
  padding: 10px;
  font-size: 1.25rem;
  color:#2F184B ;
  font-weight: 600;
  outline: none;
  border: 3px solid #323232;
  border-radius: 15px;
  width: 100%;
  background: #F4EFFA;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }

 #search-input:active{
  background: #C8B1E4;
}

 #category-filter{
  padding: 10px;
  width: 100%;
  border: 3px solid #323232;
  outline: none;
  border-radius: 15px;
  font-weight: 600;
  font-size: 1.25rem;
  color:#2F184B ;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }

 #category-filter:active{
  background: #C8B1E4;
 }
 
 #element-details {
   background: linear-gradient(45deg,#532B88, #9B72CF);
   border: 5px solid #343434;
   padding: 30px;
   max-width: 900px;
   border-radius: 25px;
 }
 
 .details-content {
   position: relative;
 }

 #details h2{
  text-align: center;
  font-size: 2rem;
  color: #2F184B;
  margin-bottom: 2rem;
 }

 #details h2 i{
  margin-left: 1rem;
 }
 
 #close-button {
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
   color: #323232;
   transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
 }

 #close-button:hover{
  transform: scale(1.25);
 }
 
 .one-p-per-el{
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: #F4EFFA;
   margin-bottom: 0.5rem;
   font-size: 1.25rem;
   width: 100%;
   font-weight: 600;
 }
 
 .one-p-per-el span{
   color: #2F184B;
   font-weight: 500;
 }
 
 .about-one-p-per-el{
   color: #2F184B;
   margin-bottom: 0.5rem;
   font-size: 1.25rem;
   font-weight: 600;
 }
 
 
 .about-one-p{
   color: #F4EFFA;
   font-size: 1.25rem;
   font-weight: 500;
 }
 
 .faktissxa{
   text-align: center;
 }
 
 .fakt-wrapper-lxeu{
   margin-bottom: 5rem;
 }
 
 
 .about-prvek-xli{
   margin-bottom: 2rem;
   display: flex;
   flex-direction: column;
   padding: 30px;
   border: 5px solid rgb(66, 66, 66);
   border-radius: 25px;
   background: #C8B1E4;
 }
 
 .wiki-how-ppp{
   display: block;
   text-align: center;
   font-weight: 600;
   color: #C8B1E4;
   font-size: 1rem;
 }
 
 .wiki-how-ppp i{
   margin-right: 5px;
 }
 
 .cont-per-one-part-wrap{
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   margin-bottom: 2rem;
   column-gap: 2rem;
 }
 
 .cont-per-one-part{
   flex: 1;
 }
 
 .about-prvek-with-img{
   display: flex;
   flex-direction: row;
   align-items: center;
   column-gap: 2rem;
   row-gap: 2rem;
 }
 
 .about-prvek-with-img .about-one-p.onexlkju{
   width: 65%;
   font-weight: 500;
 }
 
 .about-prvek-with-img img{
   width: 30%;
 }
 
 .napoveda-one-only{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  height: 30px;
 }

 .napoveda-one-only i{
  margin-right: 1rem;
 }

 .radioactive-shyt{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items:center;
  justify-content: space-around;
  column-gap: 1rem;
  row-gap: 1rem;
 }

 #check-radioactive{
  width: 30px;
  height: 30px;
  margin: auto 0;
  -webkit-appearance: none;
  outline: none;
  border-radius: 10px;
  background-color: #F4EFFA;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
 }

 #check-radioactive:active{
  background-color: #C8B1E4;
  transform: scale(0.95);
 }

 #check-radioactive::before{
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
 }

 #check-radioactive:checked{
  background-color: #2F184B;
 }

 #check-radioactive:checked::before{
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
 }

 
 /* Prvky  */
 .element {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   cursor: pointer;
   min-width: 75px;
   min-height: 75px;
   padding: 0.25rem;
   border: 2px solid #333333;
   border-radius: 10px;
   overflow: hidden;
   transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
 }
 
 .number {
   font-size: 1rem;
   font-weight: 500;
   width: 100%;
 }
 
 .symbol {
   text-align: center;
   font-size: 1.5rem;
   font-weight: 600;
 }
 
 .element-name {
   font-size: 0.5rem;
   text-align: center;
   font-weight: 500;
 }
 
 .element.melt-degr{
  background: rgb(190, 22, 22); 
  color: #F4EFFA;
 }

 .element.boil-degr{
  background: rgb(50, 0, 0); 
  color: #F4EFFA;
 }
 
.skupenstvi-wrap h3{
  color: #F4EFFA;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}

.skupenstvxxx{
  display: flex;
  flex-direction: row;
  row-gap: 2rem;
  column-gap: 2rem;
}

.skupenstvxxx button{
  width: 100px;
  height: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  border: 3px solid #323232;
  background: #F4EFFA;
  color: #2F184B;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.skupenstvxxx button:active{
  background: #C8B1E4;
}


 
 /* Helium  */
 .element-2 {
   grid-column-start: -2;
 }
 
 /* B + Al  */
 .element-5,
 .element-13 {
   grid-column-start: 13;
 }
 
 /* Pozice prvků */
 
 .element-72 {
   grid-column-start: 4;
   grid-row: 6;
 }
 
 .element-73 {
   grid-column-start: 5;
   grid-row: 6;
 }
 
 .element-74 {
   grid-column-start: 6;
   grid-row: 6;
 }
 
 .element-75 {
   grid-column-start: 7;
   grid-row: 6;
 }
 
 .element-76 {
   grid-column-start: 8;
   grid-row: 6;
 }
 
 .element-77 {
   grid-column-start: 9;
   grid-row: 6;
 }
 
 .element-78 {
   grid-column-start: 10;
   grid-row: 6;
 }
 
 .element-79 {
   grid-column-start: 11;
   grid-row: 6;
 }
 
 .element-80 {
   grid-column-start: 12;
   grid-row: 6;
 }
 
 .element-104 {
   grid-column-start: 4;
   grid-row: 7;
 }
 
 .element-105 {
   grid-column-start: 5;
   grid-row: 7;
 }
 
 .element-106 {
   grid-column-start: 6;
   grid-row: 7;
 }
 
 .element-107 {
   grid-column-start: 7;
   grid-row: 7;
 }
 
 .element-108 {
   grid-column-start: 8;
   grid-row: 7;
 }
 
 .element-109 {
   grid-column-start: 9;
   grid-row: 7;
 }
 
 .element-110 {
   grid-column-start: 10;
   grid-row: 7;
 }
 
 .element-111 {
   grid-column-start: 11;
   grid-row: 7;
 }
 
 .element-112 {
   grid-column-start: 12;
   grid-row: 7;
 }
 
 .element-113 {
   grid-column-start: 13;
   grid-row: 7;
 }
 
 .element-87 {
   grid-column-start: 1;
   grid-row: 7;
 }
 
 .element-88 {
   grid-column-start: 2;
   grid-row: 7;
 }
 
 .element-89 {
   grid-column-start: 3;
   grid-row: 7;
 }
 
 .element-81 {
   grid-column-start: 13;
   grid-row: 6;
 }
 
 .element-82 {
   grid-column-start: 14;
   grid-row: 6;
 }
 
 .element-83 {
   grid-column-start: 15;
   grid-row: 6;
 }
 
 .element-84 {
   grid-column-start: 16;
   grid-row: 6;
 }
 
 .element-114 {
   grid-column-start: 14;
   grid-row: 7;
 }
 
 .element-115 {
   grid-column-start: 15;
   grid-row: 7;
 }
 
 .element-116 {
   grid-column-start: 16;
   grid-row: 7;
 }
 
 .element-85 {
   grid-column-start: 17;
   grid-row: 6;
 }
 
 .element-117 {
   grid-column-start: 17;
   grid-row: 7;
 }
 
 .element-86 {
   grid-column-start: 18;
   grid-row: 6;
 }
 
 .element-118 {
   grid-column-start: 18;
   grid-row: 7;
 }
 
 /* Tl - TH  */
 .element-58,
 .element-90 {
   grid-column-start: 3;
 }
 
 
 
 
 
 
 
 /* Plyny  */
 .noble {
   background: #935eff;
 }
 
 .noble.only-txt-laxtt{
   color: #935eff;
   background: transparent;
 }
 
 /* Alkalické kovy  */
 .alkali {
   background: #ff6c5e;
 }
 
 .alkali.only-txt-laxtt {
   color: #ff6c5e;
   background: transparent;
 }
 
 /* Alkalické zemní kovy  */
 .alkaline {
   background: #ffac47;
 }
 .alkaline.only-txt-laxtt {
   color: #ffac47;
   background: transparent;
 }
 
 /* Přechodné kovy  */
 .transition {
   background: #fff94b;
 }
 .transition.only-txt-laxtt {
   color: #fff94b;
   background: transparent;
 }
 
 /* Nekovy  */
 .polyatomic {
   background: #5686ff;
 }
 .polyatomic.only-txt-laxtt {
   color: #5686ff;
   background: transparent;;
 }
 
 /* Halogeny */
 .diatomic {
   background: #5c6abe;
 }
 .diatomic.only-txt-laxtt {
   color: #5c6abe;
   background: transparent;
 }
 
 /* Kovy  */
 .post-transition {
   background: #7ade6c;
 }
 .post-transition.only-txt-laxtt {
   color: #7ade6c;
   background: transparent;
 }
 
 /* Polokovy  */
 .metalloid {
   background: #139661;
 }
 .metalloid.only-txt-laxtt {
   color: #139661;
   background: transparent;
 }
 
 /* Lanthanoidy  */
 .lanthanide {
   background: #37ccee;
   margin-top: 2.5vw;
 }
 .lanthanide.only-txt-laxtt {
   color: #37ccee;
   background: transparent;
   margin-top: 0vw;
 }
 
 /* Aktinoidy */
 .actinide {
   background: #ff86ff;
 }
 .actinide.only-txt-laxtt {
   color: #ff86ff;
   background: transparent;
 }
 
 
 
 
 
 /* LA - vypnutí marginu  */
 .element-57 {
   margin: 0;
 }
 
 .element:hover {
   background: rgb(255, 255, 255);
   transform: scale(0.9);
   box-shadow: 0px 0px 10px #000;
 }
 
 .element:active{
   background: #2F184B;
   border-radius: 15px;
   box-shadow: 0px 0px 50px #ffffff;
 }
 
 .element:active .number {
   color: #fff;
 }
 
 .element:active .symbol {
   color: #fff;
 }
 
 .element:active .element-name {
   color: #fff;
 }

