.studium-mat-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  column-gap: 2rem;
  border: 5px solid #323232;
  border-radius: 35px;
  padding: 30px;
  background: #F4EFFA;
}

.studium-materials{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin-bottom: 2rem;
}

.studium-mat-wrapper a{
   text-decoration: none;
   outline: none;
   border: none;
}


.card-title-mat {
   color: #2F184B;
   font-size: 1.25rem;
   font-weight: 600;
   transition: all 0.5s ease-out;
   text-align: center;
 }
 
 .small-desc-mat {
   font-size: 1rem;
   color: #F4EFFA;
   transition: all 0.5s ease-out;
 }
 
 .go-corner-mat {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   width: 5rem;
   height: 1.5rem;
   overflow: hidden;
   top: 0;
   right: 0;
   background: #2F184B;
   border-radius: 0 5px 0 30px;
 }

 .name-of-heading.study-mat-name{
    margin-bottom: 0rem;
    margin-top: 10rem;
 }
 
 .go-arrow-mat {
   margin-top: -4px;
   margin-right: -4px;
   color: #F4EFFA;
   font-size: 0.8rem;
 }

 .card-mat {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   border: 5px solid #323232;
   position: relative;
   width: 300px;
   height: 175px;
   border-radius: 40px;
   padding: 20px 20px;
   text-decoration: none;
   z-index: 0;
   overflow: hidden;
   background: linear-gradient(45deg,#532B88, #9B72CF);
 }
 
 .card-mat::before {
   content: '';
   position: absolute;
   z-index: -1;
   top: -16px;
   right: 0px;
   background: #2F184B;
   height: 1rem;
   width: 2rem;
   border-radius: 25px;
   transform: scale(1);
   transform-origin: 50% 50%;
   transition: transform 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
 }
 
 .card-mat:hover::before {
   transform: scale(24);
 }
 
 .card-mat:hover .small-desc-mat {
   color: #C8B1E4;
 }
 
 .card-mat:hover .card-title-mat {
   color: #F4EFFA;
 }


 @media screen and (max-width: 800px) {
  .studium-mat-wrapper{
    row-gap: 1rem;
    border: 3px solid #323232;
    padding: 15px;
    border-radius: 25px;
  }

  .card-mat {
    border: 3px solid #323232;
    width: 300px;
    height: 175px;
    border-radius: 25px;
    padding: 15px;
  }
 }
 

 @media screen and (max-width: 600px){
  .card-title-mat {
    font-size: 1rem;
  }

  .card-mat {
    border: 3px solid #323232;
    width: 100%;
    height: 125px;
    border-radius: 25px;
    padding: 15px;
  }
 }

